pkgbase = kappastream-bin
	pkgdesc = A lightweight, account-free Twitch viewer (live stream, chat, favorites) for Linux
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/kappy7777/kappastream/releases/download/v0.1.2
	arch = x86_64
	license = GPL-3.0-only
	depends = streamlink
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = gst-libav
	depends = hicolor-icon-theme
	provides = kappastream=0.1.2
	conflicts = kappastream
	conflicts = kappastream-git
	source = https://github.com/kappy7777/kappastream/releases/download/v0.1.2/kappastream-0.1.2-x86_64.tar.gz
	sha256sums = 10c65e90831fffd5a3e3f853850ceb7da1e9c5dbac3598f1e69ae3351edf87d1

pkgname = kappastream-bin
